section .main .ShoppingCart-process .ShoppingCart-processUp > h3 {
  text-align: left;
  padding-left: 21px;
}
section
  .main
  .ShoppingCart-process
  .ShoppingCart-processUp
  .processing
  span:nth-child(3) {
  font-weight: bolder;
  border-bottom: 5px solid #000;
}
section .main .shoppingCart-main .shoppingCart-main-head {
  display: flex;
  width: 1100px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-head
  .shoppingCart-main-head-left {
  display: flex;
  width: 500px;
  height: 80px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  color: #5a595e;
  line-height: 24px;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-head
  .shoppingCart-main-head-left
  > b {
  font-size: 18px;
  color: #2b2f32;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-head
  .shoppingCart-main-head-left
  > span
  > u {
  text-decoration: none;
  color: #f50000;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-head
  .shoppingCart-main-head-right {
  width: 200px;
  height: 80px;
  font-size: 14px;
  color: #2d2e33;
  text-align: right;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-head
  .shoppingCart-main-head-right
  > span:last-child {
  font-size: 26px;
  color: #ee0000;
  margin-left: 20px;
}
section .main .shoppingCart-main .shoppingCart-main-body {
  border-top: 2px solid #2b2e33;
  border-bottom: 2px solid #2b2e33;
  width: 1100px;
  /* height: 165px; */
  margin: 0 auto;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Up {
  width: 100%;
  height: 78px;
  border-bottom: 1px solid #babec9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #2a2e31;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Up
  > ul {
  width: 550px;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  line-height: 24px;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Up
  > ul
  > li {
  list-style: none;
  font-size: 14px;
  color: #2b2f32;
  text-align: right;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Up
  > ul
  > li:last-child {
  background-image: url('../images/Submission-inco2_17.jpg');
  background-repeat: no-repeat;
  background-size: 20;
  background-position: 0 2px;
  padding-left: 20px;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Up
  > ul
  > li
  > span {
  background-image: url('../images/Submission-inco1_17.jpg');
  background-repeat: no-repeat;
  background-size: 20;
  background-position: 0 0;
  padding-left: 20px;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Up
  > ul
  > li
  > span:last-child {
  background-image: url('../images/Submission-inco2_17.jpg');
  margin-left: 30px;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Down {
  width: 1100px;
  height: 86px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-size: 18px;
  color: #2b2e33;
  /* display: none; */
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Down
  .check-box {
  position: relative;
  width: 130px;
  height: 44px;
  border: 1px solid #babec9;
  padding: 2px;
  margin-left: 15px;
}

section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Down
  .check-box
  input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Down
  .check-box
  > label {
  
} */
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Down
  .check-box
  > label
  > img {
  margin-left: 25px;
  margin-top: 7px;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Down
  .check-box:nth-child(3)
  > label
  > img {
  margin-left: 10px;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Down
  .check-box:nth-child(4)
  > label
  > img {
  margin-left: 20px;
  margin-top: 8px;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Down
  .check-box:last-child
  > label
  > img {
  margin-left: 18px;
  margin-top: 10px;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Down
  .check-box
  > label::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  /* border: 2px solid #babec9; */
  /* background-color: #fff; */
  /* border-radius: 3px; */
  position: absolute;
  bottom: 0;
  left: 0;
}
section
  .main
  .shoppingCart-main
  .shoppingCart-main-body
  .shoppingCart-main-body-Down
  .check-box
  input:checked
  ~ label::before {
  background-image: url('../images/address-checked_43.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

section .main .shoppingCart-main .shoppingCart-main-foot {
  width: 1100px;
  height: 406px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0 auto;
  /* display: none; */
}
section .main .shoppingCart-main .shoppingCart-main-foot > a {
  width: 220px;
  line-height: 60px;
  background-color: #fdd900;
  font-size: 26px;
  color: #2b2e33;
  text-align: center;
  margin-top: 30px;
  text-decoration: none;
}
